<div class="container">
 
  <h3> Data for Dinning and Resturants in Amsterdam </h3>

  <div class="row form-row">
    <div class="col-12">
         <div class="form-search text-center">

        <label for="name">
          <br>
          Name:<input type="text" [(ngModel)]="name">
        </label>
        <label for="startdate">
          Start Year:<input type="text" [(ngModel)]="startdate">
        </label>
        <br> <br>
        <label for="zipcode">
         ZIPCode:<input type="text" [(ngModel)]="zipcode">
        </label>
        <label for="city">
          City: <input type="text" [(ngModel)]="city">
      
        <br> <br>

        <p>
          Total Number of Establishments {{totalV2}}        </p>
        <p>
          Total Number of Events {{totalV2}}
        </p>
      </label>
 
      </div>
    </div>
  </div> 

  <div class="row table-row">
    <div class="col-12">
      <table class="table-bordered">
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          City
        </th>
        <th>
          Addresss
        </th>
        <th> Action</th>
        <tr *ngFor="let established of establishment  ; index as i">
          <td>{{i+1}}</td>
          <td>{{established.location.name}}</td>
          <td>{{established.location.city}}</td>
          <td>{{established.location.zipcode}}</td>
          <td>
            <button class="btn btn-primary" (click)="viewDetails(establishment)">View Details</button>
        </td>
        </tr>

      </table>
    </div>
  </div>
</div>
