<div class="container">
  <h3 class="headertext"> FULL DETAILS OF SELECTED VENUE IN AMSTERDAM </h3>
  <div class="row form-row">
    <div class="col-12">
      <div class="form-search text-center">

        <br>
        <hr /> Image of the Venue
        <hr />

        <div>
          <a class="navbar-item">
                     <img [src]="iEstablishmentDetails.media[0]?.url" alt="image" width="20%">
          </a>
        </div>


        <br>
        <label for="name"> Name1: </label>
        <input type="text" name="name" class="form-control" [(ngModel)]="iEstablishmentDetails.location.name">
        <br> <br>

        <label for="city"> City : </label>
        <input type="text" name="city" class="form-control" [(ngModel)]="iEstablishmentDetails.location.city">
        <br> <br>

        <label for="zipcode"> Zipcode</label>
        <input type="text" name="zipcode" class="form-control" [(ngModel)]="iEstablishmentDetails.location.zipcode">
        <br> <br>

        <label for="startdate">Startdate</label>
        <input type="text" name="startdate" class="form-control" [(ngModel)]="iEstablishmentDetails.dates.startdate">
        <br> <br>

        <label for="urls">Webpage-link</label>
        <input type="text" name="urls" class="form-control" [(ngModel)]="iEstablishmentDetails.urls">
        <br> <br>

        <label for="url"> Picture-Link</label>
        <input type="text" name="url" class="form-control" [(ngModel)]="iEstablishmentDetails.media[0].url">
      </div>
    </div>

    <h3 class="headertext">
      <button class="btn btn-primary" (click)="viewAllVenues()">Back to Venues </button>
    </h3>

    <br>
  </div>
</div>