<div class="container">

  <h3> DATA FOR LOCATING ESTABLISHMENTS AND EVENTS IN AMSTERDAM </h3>

  <div class="row form-row">
    <div class="col-12">
      <div class="form-search text-center">

        <label for="name">
          <br>
          Name:<input type="text" [(ngModel)]="name">
        </label>
        <label for="startdate">
          Start Year:<input type="text" [(ngModel)]="startdate">
        </label>
        <br> <br>

        <label for="city">
          City: <input type="text" [(ngModel)]="city">

          <label for="zipcode">
            ZIPCode:<input type="text" [(ngModel)]="zipcode">
          </label>
          <br> <br>
          <p>Total Number of Establishments-: {{totalEstablishment}}</p>
          <p>Total Number of Venue Events -: {{totalEvents}}</p>
        </label>

      </div>
    </div>
  </div>

  <hr />List Of Images of Venues
  <hr />
  <div *ngFor="let i of establishment">
    <img *ngIf src="{{i.media.url}}" height="33%">
  </div>

  <div class="row table-row">
    <div class="col-12">
      <table class="table-bordered">
        <th> no. </th>
        <th> Name </th>
        <th> City </th>
        <th> Postcode</th>
        <th> StartDate/startyear</th>
        <th> Addres</th>
        <!-- <th> link</th>
        <th> picture</th>
        <th> snap</th> -->
        <th> Action</th>
        <tr *ngFor="let established of establishment | filter: name : city ; index as i">
          <td>{{i+1}}</td>
          <td>{{established.location.name}}</td>
          <td>{{established.location.city}}</td>
          <td>{{established.location.zipcode}}</td>
          <td>{{established.dates.startdate}}</td>
          <td>{{established.location.adress}}</td>
          <!-- <td>{{established.urls[0]}}</td> -->
          <!-- <td> <img src={{established.media.url}} alt="{{established.trcid}}" /> </td>
          <td><img [src]="established.media.url" alt="image"></td> -->
          <td><button class="btn btn-primary" (click)="viewDetails(established)">Estab-Details</button></td>
        </tr>
        <tr *ngFor="let establish of events | filter: name : city ; index as i">
          <td>{{i+1}}</td>
          <td>{{establish.location.name}}</td>
          <td>{{establish.location.city}}</td>
          <td>{{establish.location.zipcode}}</td>
          <td>{{establish.dates.startdate}}</td>
          <td>{{establish.location.adress}}</td>
          <!-- <td>{{established.urls[0]}}</td> -->
          <!-- <td> <img src={{established.media.url}} alt="{{established.trcid}}" /> </td>
          <td><img [src]="established.media.url" alt="image"></td> -->
          <td><button class="btn btn-primary" (click)="viewDetails(establish)">Event-Details</button></td>
        </tr>

      </table>
    </div>
  </div>
</div>